<h4>Login</h4>
<form action="/login" method="post" >
      <label for="UserName">Email</label>
        <input type="username" name="username" id="username" placeholder="User Name">
      <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">
        <button type="submit">Sign in</button>
  </form>


<l1><a href="/signup">Sign Up!</a></l1>
<l1><a href="/login">Sign In!</a></l1>
<l1><a href="/logout">Log Out!</a></l1>