<%include partials/header%>
<h3>You fell in love with : <%= name %></h3>
<%if(name === 'sunil'){%>
    <p>You is cool!</p>
    <%}else {%>
        <p>You are uncool!</p>
        <%}%>

<%include partials/footer%>